body {
  margin: 10px;
  padding: 0;
}

.saldo {
  background-color: rgb(70, 70, 70);
  color: rgb(211, 209, 209);
  width: 100px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}
.materiaPrima {
  display: flex;
  user-select: none;
}
.cardMateriaPrima {
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: rgb(43, 42, 42);
}
.nomeEstoque {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: rgb(158, 158, 158);
}
.imgMateriaPrima {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: rgb(68, 67, 67);
}
.divCompraVende {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.divCompra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: rgb(76, 250, 91);
}
.divVende {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: rgb(238, 56, 56);
}
